div#tip_the_helper .tip-the-helper-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0px;
}

div#tip_the_helper .tip-the-helper-subheading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

div#tip_the_helper p.woocommerce-form__label.woocommerce-form__label-for-radio {
    margin-top: 0;
    margin-bottom: 0;
}

div#tip_the_helper .form-row.form-row-wide {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	column-gap: 10px;
	margin-left: -10px;
}

div#tip_the_helper input[name="tip_the_helper_fixed"],
div#tip_the_helper input[name="tip_the_helper_percentage"] {
	display: none;
}

div#tip_the_helper label {
	border: 1px solid;
	border-radius: 4px;
	padding: 1px 15px;
	cursor: pointer;
	margin-bottom: 0;
	font-size: 18px;
}

div#tip_the_helper label:hover {
	background: #111111;
	color: white;
}

div#tip_the_helper input[type="radio"]:checked + label {
	background: #111111;
	color: white;
}

div#tip_the_helper .tip-the-helper-custom-input {
	display: flex;
}

div#tip_the_helper #custom_tip_input_wrapper {
	display: none;
}

div#tip_the_helper #custom_tip_input_wrapper input[name="tip_the_helper_custom"] {
	max-width: 150px;
	margin-left: 10px;
	border-radius: 4px;
	padding: 9px;
}
